<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>qemam_inbox_nbee_live_ipa.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2E54F805477F89561559F29D1C345A4B014C610B</string>
				<key>dateExpires</key>
				<string>19/06/2025</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E54F805477F89561559F29D1C345A4B014C610B</string>
						<key>dateExpires</key>
						<string>19/06/2025</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Algorithms.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>434YD6DPUU</string>
						<key>name</key>
						<string>Emirate Of Northern Borders Province</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E54F805477F89561559F29D1C345A4B014C610B</string>
						<key>dateExpires</key>
						<string>19/06/2025</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>434YD6DPUU</string>
						<key>name</key>
						<string>Emirate Of Northern Borders Province</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>i386</string>
						<string>x86_64</string>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E54F805477F89561559F29D1C345A4B014C610B</string>
						<key>dateExpires</key>
						<string>19/06/2025</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JVFloatLabeledText.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>434YD6DPUU</string>
						<key>name</key>
						<string>Emirate Of Northern Borders Province</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E54F805477F89561559F29D1C345A4B014C610B</string>
						<key>dateExpires</key>
						<string>19/06/2025</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>LazyPDFKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>434YD6DPUU</string>
						<key>name</key>
						<string>Emirate Of Northern Borders Province</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>i386</string>
						<string>x86_64</string>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E54F805477F89561559F29D1C345A4B014C610B</string>
						<key>dateExpires</key>
						<string>19/06/2025</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>STPopup.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>434YD6DPUU</string>
						<key>name</key>
						<string>Emirate Of Northern Borders Province</string>
					</dict>
					<key>versionNumber</key>
					<string>1.8.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E54F805477F89561559F29D1C345A4B014C610B</string>
						<key>dateExpires</key>
						<string>19/06/2025</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SocketRocket.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>434YD6DPUU</string>
						<key>name</key>
						<string>Emirate Of Northern Borders Province</string>
					</dict>
					<key>versionNumber</key>
					<string>0.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E54F805477F89561559F29D1C345A4B014C610B</string>
						<key>dateExpires</key>
						<string>19/06/2025</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>434YD6DPUU</string>
						<key>name</key>
						<string>Emirate Of Northern Borders Province</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>2E54F805477F89561559F29D1C345A4B014C610B</string>
						<key>dateExpires</key>
						<string>19/06/2025</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>XNLogger.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>434YD6DPUU</string>
						<key>name</key>
						<string>Emirate Of Northern Borders Province</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>434YD6DPUU.sa.gov.enb.ET-IOS</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>434YD6DPUU</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>qemam_inbox_nbee_live_ipa.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>4d49b49e-f234-4809-be72-5846053ab094</string>
				<key>dateExpires</key>
				<string>19/06/2025</string>
				<key>name</key>
				<string>ET_IOS AD HOC profile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>434YD6DPUU</string>
				<key>name</key>
				<string>Emirate Of Northern Borders Province</string>
			</dict>
			<key>versionNumber</key>
			<string>12.3</string>
		</dict>
	</array>
</dict>
</plist>
