<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Q_Auth_BanyAmr.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3856F3E3C14CAE92D35CCC46810F586A17E16550</string>
				<key>dateExpires</key>
				<string>03/02/2026</string>
				<key>type</key>
				<string>Cloud Managed iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3856F3E3C14CAE92D35CCC46810F586A17E16550</string>
						<key>dateExpires</key>
						<string>03/02/2026</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9T8C9AFWXM</string>
						<key>name</key>
						<string>Uniza Municipality</string>
					</dict>
					<key>versionNumber</key>
					<string>5.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3856F3E3C14CAE92D35CCC46810F586A17E16550</string>
						<key>dateExpires</key>
						<string>03/02/2026</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>CryptoSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9T8C9AFWXM</string>
						<key>name</key>
						<string>Uniza Municipality</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3856F3E3C14CAE92D35CCC46810F586A17E16550</string>
						<key>dateExpires</key>
						<string>03/02/2026</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9T8C9AFWXM</string>
						<key>name</key>
						<string>Uniza Municipality</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3856F3E3C14CAE92D35CCC46810F586A17E16550</string>
						<key>dateExpires</key>
						<string>03/02/2026</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9T8C9AFWXM</string>
						<key>name</key>
						<string>Uniza Municipality</string>
					</dict>
					<key>versionNumber</key>
					<string>5.12.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3856F3E3C14CAE92D35CCC46810F586A17E16550</string>
						<key>dateExpires</key>
						<string>03/02/2026</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9T8C9AFWXM</string>
						<key>name</key>
						<string>Uniza Municipality</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3856F3E3C14CAE92D35CCC46810F586A17E16550</string>
						<key>dateExpires</key>
						<string>03/02/2026</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftKeychainWrapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9T8C9AFWXM</string>
						<key>name</key>
						<string>Uniza Municipality</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3856F3E3C14CAE92D35CCC46810F586A17E16550</string>
						<key>dateExpires</key>
						<string>03/02/2026</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>netfox.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9T8C9AFWXM</string>
						<key>name</key>
						<string>Uniza Municipality</string>
					</dict>
					<key>versionNumber</key>
					<string>1.20.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9T8C9AFWXM.com.qemam.baem.qauth</string>
				<key>com.apple.developer.team-identifier</key>
				<string>9T8C9AFWXM</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Q_Auth_BanyAmr.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>f00be0ae-974d-4903-96e1-b613d98fc06f</string>
				<key>dateExpires</key>
				<string>16/04/2025</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: com.qemam.baem.qauth</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9T8C9AFWXM</string>
				<key>name</key>
				<string>Uniza Municipality</string>
			</dict>
			<key>versionNumber</key>
			<string>9.5</string>
		</dict>
	</array>
</dict>
</plist>
