<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>qemam_inbox_FSC.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3856F3E3C14CAE92D35CCC46810F586A17E16550</string>
				<key>dateExpires</key>
				<string>03/02/2026</string>
				<key>type</key>
				<string>Cloud Managed iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3856F3E3C14CAE92D35CCC46810F586A17E16550</string>
						<key>dateExpires</key>
						<string>03/02/2026</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Algorithms.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9T8C9AFWXM</string>
						<key>name</key>
						<string>Uniza Municipality</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3856F3E3C14CAE92D35CCC46810F586A17E16550</string>
						<key>dateExpires</key>
						<string>03/02/2026</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9T8C9AFWXM</string>
						<key>name</key>
						<string>Uniza Municipality</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3856F3E3C14CAE92D35CCC46810F586A17E16550</string>
						<key>dateExpires</key>
						<string>03/02/2026</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JVFloatLabeledText.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9T8C9AFWXM</string>
						<key>name</key>
						<string>Uniza Municipality</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3856F3E3C14CAE92D35CCC46810F586A17E16550</string>
						<key>dateExpires</key>
						<string>03/02/2026</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>LazyPDFKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9T8C9AFWXM</string>
						<key>name</key>
						<string>Uniza Municipality</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3856F3E3C14CAE92D35CCC46810F586A17E16550</string>
						<key>dateExpires</key>
						<string>03/02/2026</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>STPopup.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9T8C9AFWXM</string>
						<key>name</key>
						<string>Uniza Municipality</string>
					</dict>
					<key>versionNumber</key>
					<string>1.8.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3856F3E3C14CAE92D35CCC46810F586A17E16550</string>
						<key>dateExpires</key>
						<string>03/02/2026</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SocketRocket.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9T8C9AFWXM</string>
						<key>name</key>
						<string>Uniza Municipality</string>
					</dict>
					<key>versionNumber</key>
					<string>0.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3856F3E3C14CAE92D35CCC46810F586A17E16550</string>
						<key>dateExpires</key>
						<string>03/02/2026</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9T8C9AFWXM</string>
						<key>name</key>
						<string>Uniza Municipality</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3856F3E3C14CAE92D35CCC46810F586A17E16550</string>
						<key>dateExpires</key>
						<string>03/02/2026</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>XNLogger.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9T8C9AFWXM</string>
						<key>name</key>
						<string>Uniza Municipality</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9T8C9AFWXM.com.alqemam.fsc.et.ios.debug</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>9T8C9AFWXM</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>qemam_inbox_FSC.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>431e3272-eebf-4907-9dd6-72336a8554ba</string>
				<key>dateExpires</key>
				<string>24/06/2025</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: com.alqemam.fsc.et.ios.debug</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9T8C9AFWXM</string>
				<key>name</key>
				<string>Uniza Municipality</string>
			</dict>
			<key>versionNumber</key>
			<string>12.7</string>
		</dict>
	</array>
</dict>
</plist>
