<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>qemam_inbox_ALMEE.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>53B0BB34DC10FE5A75B6F25935B78F59F1833CFB</string>
				<key>dateExpires</key>
				<string>22/06/2025</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>53B0BB34DC10FE5A75B6F25935B78F59F1833CFB</string>
						<key>dateExpires</key>
						<string>22/06/2025</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X3UX84VB27</string>
						<key>name</key>
						<string>Almadinah principality</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>53B0BB34DC10FE5A75B6F25935B78F59F1833CFB</string>
						<key>dateExpires</key>
						<string>22/06/2025</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JVFloatLabeledText.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X3UX84VB27</string>
						<key>name</key>
						<string>Almadinah principality</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>53B0BB34DC10FE5A75B6F25935B78F59F1833CFB</string>
						<key>dateExpires</key>
						<string>22/06/2025</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>LazyPDFKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X3UX84VB27</string>
						<key>name</key>
						<string>Almadinah principality</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>53B0BB34DC10FE5A75B6F25935B78F59F1833CFB</string>
						<key>dateExpires</key>
						<string>22/06/2025</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>STPopup.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X3UX84VB27</string>
						<key>name</key>
						<string>Almadinah principality</string>
					</dict>
					<key>versionNumber</key>
					<string>1.8.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>53B0BB34DC10FE5A75B6F25935B78F59F1833CFB</string>
						<key>dateExpires</key>
						<string>22/06/2025</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SocketRocket.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X3UX84VB27</string>
						<key>name</key>
						<string>Almadinah principality</string>
					</dict>
					<key>versionNumber</key>
					<string>0.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>53B0BB34DC10FE5A75B6F25935B78F59F1833CFB</string>
						<key>dateExpires</key>
						<string>22/06/2025</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X3UX84VB27</string>
						<key>name</key>
						<string>Almadinah principality</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>53B0BB34DC10FE5A75B6F25935B78F59F1833CFB</string>
						<key>dateExpires</key>
						<string>22/06/2025</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>XNLogger.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>X3UX84VB27</string>
						<key>name</key>
						<string>Almadinah principality</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>X3UX84VB27.sa.gov.almadinah.et.ios.app</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>X3UX84VB27</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>qemam_inbox_ALMEE.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>9a833daf-63bc-4848-8a7b-fbcd554fd042</string>
				<key>dateExpires</key>
				<string>13/02/2025</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: sa.gov.almadinah.et.ios.app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>X3UX84VB27</string>
				<key>name</key>
				<string>Almadinah principality</string>
			</dict>
			<key>versionNumber</key>
			<string>12.1</string>
		</dict>
	</array>
</dict>
</plist>
