<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://raw.githubusercontent.com/KdevsAppsRepo/q_test_ipa_file/main/almee_download_app/version_12_1/Test_ALMEE.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://raw.githubusercontent.com/KdevsAppsRepo/q_test_ipa_file/main/almee_download_app/version_12_1/logo57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://raw.githubusercontent.com/KdevsAppsRepo/q_test_ipa_file/main/almee_download_app/version_12_1/logo512.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>sa.gov.almadinah.test.et.ios.app</string>
				<key>bundle-version</key>
				<string>12.1</string>
				<key>kind</key>
				<string>software</string>
				<key>platform-identifier</key>
				<string>com.apple.platform.iphoneos</string>
				<key>title</key>
				<string>Test_ALMEE</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
