<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>qemam_inbox_tafarud_asser.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>2</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>510E3DFE747CD2E1036F783C129305FAF3D0BDB5</string>
				<key>dateExpires</key>
				<string>01/02/2026</string>
				<key>type</key>
				<string>Cloud Managed iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>510E3DFE747CD2E1036F783C129305FAF3D0BDB5</string>
						<key>dateExpires</key>
						<string>01/02/2026</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Algorithms.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UD4L9N5RMW</string>
						<key>name</key>
						<string>Aljouf Emirate</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>510E3DFE747CD2E1036F783C129305FAF3D0BDB5</string>
						<key>dateExpires</key>
						<string>01/02/2026</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UD4L9N5RMW</string>
						<key>name</key>
						<string>Aljouf Emirate</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>510E3DFE747CD2E1036F783C129305FAF3D0BDB5</string>
						<key>dateExpires</key>
						<string>01/02/2026</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>JVFloatLabeledText.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UD4L9N5RMW</string>
						<key>name</key>
						<string>Aljouf Emirate</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>510E3DFE747CD2E1036F783C129305FAF3D0BDB5</string>
						<key>dateExpires</key>
						<string>01/02/2026</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>LazyPDFKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UD4L9N5RMW</string>
						<key>name</key>
						<string>Aljouf Emirate</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>510E3DFE747CD2E1036F783C129305FAF3D0BDB5</string>
						<key>dateExpires</key>
						<string>01/02/2026</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>STPopup.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UD4L9N5RMW</string>
						<key>name</key>
						<string>Aljouf Emirate</string>
					</dict>
					<key>versionNumber</key>
					<string>1.8.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>510E3DFE747CD2E1036F783C129305FAF3D0BDB5</string>
						<key>dateExpires</key>
						<string>01/02/2026</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SocketRocket.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UD4L9N5RMW</string>
						<key>name</key>
						<string>Aljouf Emirate</string>
					</dict>
					<key>versionNumber</key>
					<string>0.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>510E3DFE747CD2E1036F783C129305FAF3D0BDB5</string>
						<key>dateExpires</key>
						<string>01/02/2026</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UD4L9N5RMW</string>
						<key>name</key>
						<string>Aljouf Emirate</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>510E3DFE747CD2E1036F783C129305FAF3D0BDB5</string>
						<key>dateExpires</key>
						<string>01/02/2026</string>
						<key>type</key>
						<string>Cloud Managed iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>XNLogger.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>UD4L9N5RMW</string>
						<key>name</key>
						<string>Aljouf Emirate</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>UD4L9N5RMW.com.alqemam.aee.tafarud.debug3</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>UD4L9N5RMW</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>qemam_inbox_tafarud_asser.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>a0890078-6782-4aa1-afdb-cec410e6418f</string>
				<key>dateExpires</key>
				<string>04/08/2025</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: com.alqemam.aee.tafarud.debug3</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>UD4L9N5RMW</string>
				<key>name</key>
				<string>Aljouf Emirate</string>
			</dict>
			<key>versionNumber</key>
			<string>12.7</string>
		</dict>
	</array>
</dict>
</plist>
